// Colors of header
$navbarHome: pink;

// Colors of footer
$colors-footer:(
    bg-top: #252525,
    bg-mdd: #000000,
    bg-end: #000000,
    color-h5: #ffffff,
    color-links: rgb(255, 0, 0),
    color-lk-animat: rgb(3, 250, 106),
    color-icon-social: rgb(255, 6, 6),
    color-icon-animat: rgb(3, 250, 106),
    color-foot-end: #ffffff
);

// Layout body
$ly-body:(
    wd-car-control: 5%,
    hg-co-cardImg: auto,
    height-body-index: 70vh,
    hg-bd-idx-smal: 92vh,
    hg-car-inn: 70vh
);

@mixin cardBlock-mobile {
    height: 22vh;
    width: 22vh
};

@mixin cardBlock-tablet {
    height: 30vh;
    width: 30vh
};

@mixin cardBlock {
    height:50vh;
    width: 50vh
};

@mixin cardBlock-explore {
    height:40vh;
    width: 40vh
};
