<!DOCTYPE html>
<html lang="en">
<!-- ======================================================================================= -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width, initial-scale=1.0">
    <link rel="icon" href="https://images.vexels.com/media/users/3/132153/isolated/preview/2b07e0f940d92cdf0b02e0256417d93b-icono-de-circulo-de-patinaje.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>About SKATE MONKEY</title>
</head>
<!-- ======================================================================================= -->
<body>
    <!-- ....................................................................................... -->
    <header>
        <nav class="header__nav">
            <a class="header__home" href="index.html">SKATE MONKEY</a>
            <audio class="header__audio" src="public/audio/experience-sorround.mp3" standby="charge" autoplay loop controls></audio>
        </nav>
        <hgroup class="header__hgroup">
            <h1 class="header__h1">SKATE MONKEY</h1>
            <h2 class="header__h2">NFT</h2>
        </hgroup>          
    </header>
    <!-- esta lista desordenada es a modo de pruebas rápidas, será borrada -->
            <ul>
                <li>
                    <a href="../index.html">SKATE MONKEY</a>
                </li>
                <li>
                    
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="explore.html">Explore</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
            </ul> 
    </header>
    <!-- ....................................................................................... -->
    <main>
        <video class=main__bkgvideo src="../public/video/Skateboard1.mp4" standby="charge" autoplay loop width="1890">
        </video>
        <article>
            <h2>ABOUT US, OUR PASSION</h2>
            <p>
                Your taste for skateboarding is our family, culture embodied by your beloved NFT, countless works by artists with their original touches at your fingertips for your great inspiration. Our Skater Monkey family welcomes everyone to our site and we want you to feel comfortable and be able to share amazing NFT works with your brothers. Welcome Skates Monkeys!!!.

                Our company resides in California, United States, in the future we will add our articles section with the special Skate Monkey touch, your passion and taste help us to know and know what it takes to keep this friendship great hand in hand with the NFT Skate Monkey.
            </p>
        </article>
    </main>
    <footer>
        <article>
            <nav>
                <h5>Download Skate Monkey app to track your NFT portfolio an discover drops</h5>
                <a href="https://www.apple.com/la/app-store/" target="_blank">
                    <img src="../public/img/Google_play_button.png" alt="appStoreButton">
                </a>
                <a href="http://play.google.com/store/apps/" target="_blank">
                    <img src="../public/img/Google_play_button.png" alt="Google_play_button">
                </a>
                <h5>Get the latest Skate Monkey uppdates</h5>
                <form action="input">
                    <label for="post">Your email</label>
                </form>
            </nav>
            <figure>
                <img class="main__img"  src="../public/img/mobileapps.jpg" alt="mobileapps">
            </figure>
            <figure>
                <a href="">Scan to download Skate Monkey app<img class="main__img"  src="../public/img/qr.png" alt="qr_link"></a>
            </figure>
        </article>

        <article>
            <h5>Marketplace</h5>
            <section>
                <nav>
                    <a href="explore.html">Explore</a>
                    <a href="blog.html">Blog</a>
                    <a href="works.html">How it works</a>
                    <a href="hiring.html">Jobs Were hiring!</a>
                    <a href="contact.html">Help center</a>
                </nav>
            </section>
            <h5>Links</h5>
            <section>
                <nav>
                    <a href="bug.html">Bug bountry</a>
                    <a href="partner.html">Become a partner</a>
                    <a href="branding.html">Branding</a>                     
                </nav>
            </section>
        </article>
        <article>
            <h5>Join Skate Monkey community</h5>
            <section>
                <nav>
                    <a href="https://twitter.com/" class="fa-brands fa-twitter"></a>
                    <a href="https://www.instagram.com/" class="fa-brands fa-instagram-square"></a>
                    <a href="https://discord.com/" class="fa-brands fa-discord"></a>
                    <a href="https://web.telegram.org/" class="fa-brands fa-telegram"></a>
                    <a href="https://www.youtube.com/" class="fa-brands fa-youtube"></a>
                </nav>
            </section>
        </article>
        <article>
            <section>
                <nav>
                    <a href="config.html" target="_blank">We eat use cookies for better experience</a> <div>© Skate Monkey, Inc All rights reserved.</div>
                </nav>
                <nav>
                    <a href="c_guidelines.html">Community guidelines</a>
                    <a href="terms.html">Terms</a>
                    <a href="privacy_p.html">Privacy policy</a>
                </nav>
            </section>                
        </article>
    </footer>
</body>
</html>