<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>About SKATE MONKEY</title>
</head>
<body>
    <header>
        <nav>
            <audio src="../public/audio/experience-sorround.mp3" standby="charge" autoplay loop controls></audio>

            <video src="../public/video/Skateboarder - 37845.mp4" standby="charge" autoplay loop width="1890"></video>

<!-- Será borrada esta lista no ordenada con el menú principal del sitio, es a modo de ensayo, ya que está integrada en toda la página dentro de algunos bloques de código para dar experiencia de usuario temática-->
            <ul>
                <li>
                    <a href="../index.html">SKATE MONKEY</a>
                </li>
                <li>
                    
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="explore.html">Explore</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
            </ul>
        </nav>
        <hgroup>
            <h1>SKATE MONKEY</h1> <!--necesitamos fijar el título del sitio entre el background y las imagenes de la galería-->
            <h2>NFT</h2>
        </hgroup>   
    </header>

    <main>
        <article>
            <h2>ABOUT US, OUR PASSION</h2>
            <p>
                Your taste for skateboarding is our family, culture embodied by your beloved NFT, countless works by artists with their original touches at your fingertips for your great inspiration. Our Skater Monkey family welcomes everyone to our site and we want you to feel comfortable and be able to share amazing NFT works with your brothers. Welcome Skates Monkeys!!!.

                Our company resides in California, United States, in the future we will add our articles section with the special Skate Monkey touch, your passion and taste help us to know and know what it takes to keep this friendship great hand in hand with the NFT Skate Monkey.
            </p>
        </article>
    </main>
    <footer>
        <article>
            <nav>
                <h5>Download Skate Monkey app to track your NFT portfolio an discover drops</h5>
                <a href="macstore.html" target="_blank">Appel icon</a>
                <a href="android.html" target="_blank">Google play icon</a>
                <h5>Get the latest Skate Monkey uppdates</h5>
                <form action="input">
                    <label for="post">Your email</label>
                </form>
            </nav>
            <figure>
                <img src="" alt="">
            </figure>
            <figure>
                <a href="">Scan to download Skate Monkey app<img src="" alt=""></a>
            </figure>
        </article>

        <article>
            <h5>Marketplace</h5>
            <section>
                <nav>
                    <a href="">Explore</a>
                    <a href="">Blog</a>
                    <a href="">How it works</a>
                    <a href="">Jobs Were hiring!</a>
                    <a href="">Help center</a>
                </nav>
            </section>
            <h5>Links</h5>
            <section>
                <nav>
                    <a href="">Bug bountry</a>
                    <a href="">Become a partner</a>
                    <a href="">Branding</a>                     
                </nav>
            </section>
        </article>
        <article>
            <h5>Join Skate Monkey community</h5>
            <section>
                <nav>
                    <a href="">Twiter icon</a>
                    <a href="">Instragram icon</a>
                    <a href="">Discord icon</a>
                    <a href="">Telegram icon</a>
                    <a href="">YouTube icon</a>
                </nav>                    
            </section>
        </article>
        <article>
            <section>
                <nav>
                    <a href="">We eat use cookies for better experience <img src="" alt=""></a>
                </nav>
                <p>
                    © Skate Monkey, Inc All rights reserved.
                </p>
                <nav>
                    <a href="">Community guidelines</a>
                    <a href="">Terms</a>
                    <a href="">Privacy policy</a>
                </nav>
            </section>                
        </article>
    </footer>
</body>
</html>