<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Contact SKATE MONKEY</title>
</head>
<body>
    <header>
        <nav>
            <audio src="../public/audio/experience-sorround.mp3" standby="charge" autoplay loop controls></audio>

            <video src="../public/video/Skateboarder - 37845.mp4" standby="charge" autoplay loop width="1890"></video>

<!-- Será borrada esta lista no ordenada con el menú principal del sitio, es a modo de ensayo, ya que está integrada en toda la página dentro de algunos bloques de código para dar experiencia de usuario temática-->
            <ul>
                <li>
                    <a href="../index.html">SKATE MONKEY</a>
                </li>
                <li>
                    
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="explore.html">Explore</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
            </ul>
        </nav>
        <hgroup>
            <h1>SKATE MONKEY</h1> <!--necesitamos fijar el título del sitio entre el background y las imagenes de la galería-->
            <h2>NFT</h2>
        </hgroup>   
    </header>
    <main>
        <h2>Skate Monkey Blog</h2>

        <p>Your blog, send the message to the community</p>

        <form action="../../form-result.php" target="_blank">

            <label>Name/Alias: 
                <input type="text" name="nombre">
            </label>            

            <label>Email: 
                <input type="text" name="correo">
            </label>

            <label>
                Message:
                <input name="message" type="text">
            </label>        

            <input type="submit" value="Send">

            <input type="reset" value="Reset">            

        </form>
    </main>
    <footer>
        <article>
            <nav>
                <h5>Download Skate Monkey app to track your NFT portfolio an discover drops</h5>
                <a href="https://www.apple.com/la/app-store/" target="_blank"><img src="../public/img/Google_play_button.png" alt="appStoreButton"></a>
                <a href="http://play.google.com/store/apps/" target="_blank"><img src="../public/img/Google_play_button.png" alt="Google_play_button"></a>
                <h5>Get the latest Skate Monkey uppdates</h5>
                <form action="input">
                    <label for="post">Your email</label>
                </form>
            </nav>
            <figure>
                <img class="main__img"  src="../public/img/mobileapps.jpg" alt="mobileapps">
            </figure>
            <figure>
                <a href="">Scan to download Skate Monkey app<img class="main__img"  src="../public/img/qr.png" alt="qr_link"></a>
            </figure>
        </article>

        <article>
            <h5>Marketplace</h5>
            <section>
                <nav>
                    <a href="explore.html">Explore</a>
                    <a href="blog.html">Blog</a>
                    <a href="works.html">How it works</a>
                    <a href="hiring.html">Jobs Were hiring!</a>
                    <a href="contact.html">Help center</a>
                </nav>
            </section>
            <h5>Links</h5>
            <section>
                <nav>
                    <a href="bug.html">Bug bountry</a>
                    <a href="partner.html">Become a partner</a>
                    <a href="branding.html">Branding</a>                     
                </nav>
            </section>
        </article>
        <article>
            <h5>Join Skate Monkey community</h5>
            <section>
                <nav>
                    <a href="https://twitter.com/"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram-square"></i></a>
                    <a href="https://discord.com/"><i class="fa-brands fa-discord"></i></a>
                    <a href="https://web.telegram.org/"><i class="fa-brands fa-telegram"></i></a>
                    <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                </nav>                    
            </section>
        </article>
        <article>
            <section>
                <nav>
                    <a href="">We eat use cookies for better experience</a>
                </nav>
                <p>
                    © Skate Monkey, Inc All rights reserved.
                </p>
                <nav>
                    <a href="c_guidelines.html">Community guidelines</a>
                    <a href="terms.html">Terms</a>
                    <a href="privacy_p.html">Privacy policy</a>
                </nav>
            </section>                
        </article>
    </footer>
</body>
</html>