<!DOCTYPE html>
<html lang="en">
<!-- ======================================================================================= -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="icon" href="https://images.vexels.com/media/users/3/132153/isolated/preview/2b07e0f940d92cdf0b02e0256417d93b-icono-de-circulo-de-patinaje.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Contact SKATE MONKEY</title>
</head>
<!-- ======================================================================================= -->
<body class="bodyNested">
    <!-- ....................................................................................... -->
    <header class="header__grid">
        <nav class="header__nav">
            <a class="header__home" href="../index.html">S K A T E   M O N K E Y</a>
            <audio id="player" class="header__audio" src="../public/audio/experience-sorround.mp3" standby="charging" autoplay loop controls></audio>
            <button onclick="document.getElementById('player').play()">Play</button>
            <button onclick="document.getElementById('player').pause()">Pause</button>
        </nav>
            <h1 class="header__h1">S K A T E  M O N K E Y</h1>
            <h2 class="header__h2">N F T</h2>          
    </header>
    <!-- ....................................................................................... -->
    <main>
        <div class="video">
            <video class=main__bkgvideo src="../public/video/Skateboard1.mp4" standby="charge" autoplay loop width="1890">
            </video>
        </div>
        <h2>Contact us</h2>
        <p>Our company is located in Buenos Aires, Argentina, on Corrientes Street Number 999, 24th floor, office 78.
            We also have a small branch in the province of Mendoza and in the future we want to reach more people with a branch in California, United States.</p>
        
        <form action="../../form-result.php" target="_blank">
        
            <fieldset>
        
                <legend>Message</legend>
            
                <label>Your name: <input type="text" name="nombre"></label>
            
                <label>Your email: <input type="text" name="correo"></label>            
            
                <label>
    
                Your message:<br>
        
                <textarea name="mensaje"></textarea><!--¿cual es el reemplazo del textarea para enviar un texto como elemento de registro en texto?-->
        
                </label>

            </fieldset>
        <!-- las etiquetas label no deben ir dentro de etiquetas de texto <p>-->        
            <fieldset>
        
                <legend>New topics</legend>
        
                    What topics would you like me to cover more on my site?<br>
            
                    <label>
                        <input type="checkbox" name="realistic-draw"> Realistic draw
                    </label>
                
                    <label>
                        <input type="checkbox" name="vector"> Vector
                    </label>
                
                    <label>
                        <input type="checkbox" name="videogames"> Video games
                    </label>
                
                    <label>
                        <input type="checkbox" name="art"> Art
                    </label>
                
                    <label>
                        <input type="checkbox" name="music"> Music
                    </label>        
            
        
            </fieldset>          
        
                <input type="submit" value="Send">
            
                <input type="reset" value="Reset">          
        
        </form>
    </main>
    <!-- ....................................................................................... -->
    <footer class="footer">
        <article class="footer__top">
            <nav class="footer__app">
                <h5>Download Skate Monkey app to track your NFT portfolio an discover drops</h5>
                <div class="imgapp">
                    <a href="https://www.apple.com/la/app-store/" target="_blank">
                    <img src="../public/img/App_Store_button.png" alt="appStoreButton">
                    </a>
                    <a href="http://play.google.com/store/apps/" target="_blank">
                    <img src="../public/img/Google_play_button.png" alt="Google_play_button">
                    </a>
                </div>
                <h5>Get the latest Skate Monkey uppdates</h5>
            </nav>
            <figure class="img-mobile">
                <img class="footer__img" src="../public/img/mobileapps.jpg" alt="mobileapps">
            </figure>
            <figure class="footer__qr">
                <h5>Scan to download Skate Monkey app</h5>
                <img src="../public/img/qr.png" alt="qr_link"></img>
            </figure>
        </article>
        <article class="footer__middle">
            
            <section class="footer__links">
                <h5>Links</h5>
                    <nav>
                        <a href="../index.html">H  o  m  e</a>
                        <a href="explore.html">E x p l o r e - g a l l e r y</a>
                        <a href="blog.html">B l o g</a>
                        <a href="about.html">A b o u t - us - m o r e !</a>
                        <a href="contact.html">H e l p - c e n t e r</a>
                    </nav>
            </section>            
            <section class="footer__social">
                <h5>Join Skate Monkey community</h5>
                    <nav>
                        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://www.instagram.com/"> <i class="fa-brands fa-instagram-square"></i></a>
                        <a href="https://discord.com/"> <i class="fa-brands fa-discord"></i></a>
                        <a href="https://web.telegram.org/"> <i class="fa-brands fa-telegram"></i></a>
                        <a href="https://www.youtube.com/"> <i class="fa-brands fa-youtube"></i></a>
                    </nav>
            </section>
        </article>
        <article class="footer__end">            
            <div>© Skate Monkey, Inc All rights reserved.</div>
        </article>
    </footer>
    <!-- ....................................................................................... -->
</body>
</html>