<!DOCTYPE html>
<html lang="en">
<!-- ======================================================================================= -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/style3d.css">
    <link rel="icon" href="https://images.vexels.com/media/users/3/132153/isolated/preview/2b07e0f940d92cdf0b02e0256417d93b-icono-de-circulo-de-patinaje.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Gallery SKATE MONKEY</title>
</head>
<!-- ======================================================================================= -->
<body class="bodyNested">
    <!-- ....................................................................................... -->
    <header class="header__grid">
        <nav class="header__nav">
            <a class="header__home" href="../index.html">S K A T E   M O N K E Y</a>
            <audio id="player" class="header__audio" src="../public/audio/experience-sorround.mp3" standby="charging" autoplay loop controls></audio>
            <button onclick="document.getElementById('player').play()">Play</button>
            <button onclick="document.getElementById('player').pause()">Pause</button>
        </nav>
            <h1 class="header__h1">S K A T E  M O N K E Y</h1>
            <h2 class="header__h2">N F T</h2>          
    </header>
    <!-- ....................................................................................... -->
    <main>
        <video class=main__bkgvideo src="../public/video/Skateboard1.mp4" standby="charge" autoplay loop width="1890">
        </video>
        <article>
            <h2>EXPLORE GALLERY</h2>
        </article>
        <article class="main__article">
            <section class="main__gallery">
                <figure>                    
                    <a href="https://cdna.artstation.com/p/assets/images/images/029/584/970/4k/mathieu-moreau-psx-20200820-222607.jpg?1598016078"><img class="main__img" src="
                        https://cdna.artstation.com/p/assets/images/images/029/584/970/4k/mathieu-moreau-psx-20200820-222607.jpg?1598016078" alt="https://cdna.artstation.com/p/assets/images/images/029/584/970/4k/mathieu-moreau-psx-20200820-222607.jpg?1598016078">
                    </a>
                </figure>
                <figure>                    
                    <a href="https://cdna.artstation.com/p/assets/images/images/032/974/064/large/paco-camallonga-andres-asset.jpg?1608036911"><img class="main__img" src="https://cdna.artstation.com/p/assets/images/images/032/974/064/large/paco-camallonga-andres-asset.jpg?1608036911" alt="https://cdna.artstation.com/p/assets/images/images/032/974/064/large/paco-camallonga-andres-asset.jpg?1608036911">
                    </a>
                </figure>
                <figure>                    
                    <a href="https://cdnb.artstation.com/p/assets/images/images/005/491/309/large/pierre-benjamin-moenky-hdr-trender.jpg?1491415925"><img class="main__img" src="https://cdnb.artstation.com/p/assets/images/images/005/491/309/large/pierre-benjamin-moenky-hdr-trender.jpg?1491415925" alt="https://cdnb.artstation.com/p/assets/images/images/005/491/309/large/pierre-benjamin-moenky-hdr-trender.jpg?1491415925">
                    </a>
                </figure>
                <figure>                    
                    <a href="https://cdn.shopify.com/s/files/1/0053/8329/0973/products/SkateMonkeyP_1024x1024@2x.jpg?v=1588160133"><img class="main__img" src="https://cdn.shopify.com/s/files/1/0053/8329/0973/products/SkateMonkeyP_1024x1024@2x.jpg?v=1588160133" alt="https://cdn.shopify.com/s/files/1/0053/8329/0973/products/SkateMonkeyP_1024x1024@2x.jpg?v=1588160133">
                    </a>
                </figure>
                <figure>                    
                    <a href="https://media.istockphoto.com/vectors/monkey-on-playing-skateboard-illustrations-for-your-work-logo-mascot-vector-id1299253925?s=2048x2048"><img class="main__img" src="https://media.istockphoto.com/vectors/monkey-on-playing-skateboard-illustrations-for-your-work-logo-mascot-vector-id1299253925?s=2048x2048" alt="https://media.istockphoto.com/vectors/monkey-on-playing-skateboard-illustrations-for-your-work-logo-mascot-vector-id1299253925?s=2048x2048">
                    </a>
                </figure>
                <figure>                    
                    <a href="https://media.istockphoto.com/vectors/bigfoot-is-skateboarding-to-the-beach-vector-illustration-vector-id1388714707?s=2048x2048"><img class="main__img" src="https://media.istockphoto.com/vectors/bigfoot-is-skateboarding-to-the-beach-vector-illustration-vector-id1388714707?s=2048x2048" alt="https://media.istockphoto.com/vectors/bigfoot-is-skateboarding-to-the-beach-vector-illustration-vector-id1388714707?s=2048x2048">
                    </a>
                </figure>
                <figure>                    
                    <a href="https://cdnb.artstation.com/p/assets/images/images/012/556/029/4k/sebastian-bar-03.jpg?1535388184"><img class="main__img" src="https://cdnb.artstation.com/p/assets/images/images/012/556/029/4k/sebastian-bar-03.jpg?1535388184" alt="https://cdnb.artstation.com/p/assets/images/images/012/556/029/4k/sebastian-bar-03.jpg?1535388184">
                    </a>
                </figure>
                <figure>                    
                    <a href="https://cdna.artstation.com/p/assets/images/images/012/556/032/4k/sebastian-bar-05.jpg?1535388202"><img class="main__img" src="https://cdna.artstation.com/p/assets/images/images/012/556/032/4k/sebastian-bar-05.jpg?1535388202" alt="https://cdna.artstation.com/p/assets/images/images/012/556/032/4k/sebastian-bar-05.jpg?1535388202">
                    </a>
                </figure>
                <figure>                    
                    <a href="https://cdna.artstation.com/p/assets/images/images/012/556/018/4k/sebastian-bar-06.jpg?1535388161"><img class="main__img" src="https://cdna.artstation.com/p/assets/images/images/012/556/018/4k/sebastian-bar-06.jpg?1535388161" alt="https://cdna.artstation.com/p/assets/images/images/012/556/018/4k/sebastian-bar-06.jpg?1535388161">
                    </a>
                </figure>
                
            </section>
        </article>
    </main>
    <!-- ....................................................................................... -->
    <footer class="footer">
        <article class="footer__top">
            <nav class="footer__app">
                <h5>Download Skate Monkey app to track your NFT portfolio an discover drops</h5>
                <div class="imgapp">
                    <a href="https://www.apple.com/la/app-store/" target="_blank">
                    <img src="../public/img/App_Store_button.png" alt="appStoreButton">
                    </a>
                    <a href="http://play.google.com/store/apps/" target="_blank">
                    <img src="../public/img/Google_play_button.png" alt="Google_play_button">
                    </a>
                </div>
                <h5>Get the latest Skate Monkey uppdates</h5>
            </nav>
            <figure class="img-mobile">
                <img class="footer__img" src="../public/img/mobileapps.jpg" alt="mobileapps">
            </figure>
            <figure class="footer__qr">
                <h5>Scan to download Skate Monkey app</h5>
                <img src="../public/img/qr.png" alt="qr_link"></img>
            </figure>
        </article>
        <article class="footer__middle">
            
            <section class="footer__links">
                <h5>Links</h5>
                    <nav>
                        <a href="../index.html">H  o  m  e</a>
                        <a href="explore.html">E x p l o r e - g a l l e r y</a>
                        <a href="blog.html">B l o g</a>
                        <a href="about.html">A b o u t - us - m o r e !</a>
                        <a href="contact.html">H e l p - c e n t e r</a>
                    </nav>
            </section>            
            <section class="footer__social">
                <h5>Join Skate Monkey community</h5>
                    <nav>
                        <a href="https://twitter.com/" class="fa-brands fa-twitter fa-2x"></a>
                        <a href="https://www.instagram.com/" class="fa-brands fa-instagram-square fa-2x"></a>
                        <a href="https://discord.com/" class="fa-brands fa-discord fa-2x"></a>
                        <a href="https://web.telegram.org/" class="fa-brands fa-telegram fa-2x"></a>
                        <a href="https://www.youtube.com/" class="fa-brands fa-youtube fa-2x"></a>
                    </nav>
            </section>
        </article>
        <article class="footer__end">            
            <div>© Skate Monkey, Inc All rights reserved.</div>
        </article>
    </footer>
    <!-- ....................................................................................... -->
</body>
</html>