*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Bebas Neue';
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
header{
    display:flex;
    flex-direction: column;
    background-color:#669718
}
.header__nav{
    background-color:greenyellow;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
.header__audio{
    width: 50px;
    height: 20px;
    margin-right: 2px;
    border: solid 0.1px red;
}
.header__home{
    margin-left: 5px;
    text-decoration: none;
    color: #b109db;
}
.header__hgroup{    
    font-size: 40px;
    text-align: center;
    line-height: 0px;
}
.main__img{
    width:20em;     ;
}
.main__video{
    width:20em
}
.main__bkgvideo {
    width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.25
}
.main__h2{
    font-family: 'Bebas Neue';
    font-size: 50px;
    margin-left: 25px;
}
.main__h3{
    font-family: 'Bebas Neue';
    font-size: 50px;
    text-align: center;
}
.main__p{
    font-family: 'Bebas Neue';
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}