*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
}
/* GRID-NESTED BODY ============================================================== */
.bodyNested {
    /* z-index: -2;
    background-color:hsl(330, 94%, 55%); */
    font-family: 'Bebas Neue';
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 150px;
    grid-template-areas:
                        "box1"
                        "box2"
                        "box3";
}
header {
    grid-area: "box1";
}
main {
    grid-area: "box2";
}
footer {
    grid-area: "box3";
}
/* GRID HEADER ============================================================== */
.header__grid {
    height:100px;
    width:100%;
    background-color:hsl(330, 94%, 55%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.5fr;
    grid-template-areas:
                        "nav1"
                        "skate_monkey_h1"
                        "nft_h2";
    grid-gap: 3px;
    padding: 0px;    
}
.header__nav{
    background-color: greenyellow;
    grid-area: nav1;
    display: grid;
    justify-content: space-between;
    position: fixed;
    
}
.header__h1{
    grid-area: skate_monkey_h1;
    display: grid;
    justify-content: center;
}
.header__h2{
    display: grid;
    grid-area: nft_h2;
    justify-self: center;
}
/* flexbox header .......................................................... */
.header__nav {
    display: flex;
    flex-direction: row;
    /* nuevamente cuando usamos la propiedad position:fixed deja de formar la barra en linea como la deseamos mas allá que sigue sin separar los dos elementos con space-between */
}
.header__home{
    margin-left: 5px;
    text-decoration: none;
    font-weight: bolder;
    color: #b109db;
}
.header__audio{
    overflow: hidden;
    width: 0px;
    height: 0px;
    /* los controles de sonido desconozco como ocultarlos sin pasar unas dimensiones en CERO, con una ayuda de la web utilizo los elementos del DOM para visualizar los dos botones de paly y pause, pero sin saber como configurar su visual */
}
/* GRID MAIN ============================================================== */
.main__grid {
    /* z-index: 1; */
    height:auto;
    width:100%;
    background-color: main__bkgvideo;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
                        "spotlight"
                        "proyect-love"
                        "feature-collection"
                        "recen-bids"
                        "about";
    grid-gap: 3px;
    padding: 0px;
}
.spotlight {
    grid-area: spotlight;
}
.proyect-love {
    grid-area: proyect-love;
}
.feature-collection {
    grid-area: feature-collection;
}
.recen-bids {
    grid-area: recen-bids;
}
.about {
    grid-area: about;
}
/* flexbox main .......................................................... */
.main__bkgvideo {
    width: 100%;
    object-fit: cover;
    /* al aplicar atributo stiky dejó de superponerse las secciones, arregrar esto o volver a fixed sin sticky */
    position: sticky;
    top: 100px;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.25
}
.main__img{
    width:15em;
    height:15em;
    /* estas imagenes la vamos a recortar con una única proporcion para trabajarlas sin dimensiones en css */
}
/* CARD DROPDOWN IMAGES */
/* subtitulos desplegables */
.main__h2{    
    background-color: #ffffff00;
    font-size: 4em;
    transition: 3s ease-in;
    transition-delay: 45s;
    /* transition: text-aling 2s ease-in;
    text-align: left; */
}
.main__h2:hover {
    font-family: 'Bebas Neue';
    font-size: 5em;
    transition: 1s ease-in;
    background-color: #fc4ec2a9;
    /* aumento de fuente y despliegue de imagenes ocultas con :hover se aplica para todo el main no por sección individual ese es nuestro requisito.
    el atributo overflow:visible no tiene efecto sobre las imagenes, lo constatamos poniendo un background-color: black pero ni afecta en nada a la sección hija, no hay herencia absoluta aparentemente */
}
.main__h3 {
    font-size: 4em;
    transition: 3s ease-in;
    transition-delay: 45s;
}
.main__h3:hover {
    font-family: 'Bebas Neue';
    font-size: 5em;
    transition: 1s ease-in;
    background-color: #fc4ec2a9;    
}
/* imagenes desplegables */
.main__section{
    height: 0px;
    transition: height 6s ease-in;
    transition-delay: 40s;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    object-fit: scale-down;
    /* scale-down no funciona aún borrando el ancho en .main__img, necesito controlar las dimensiones sin pasar medidas, por ejemplo con scale-down hacerlo */
    overflow: hidden;
}
.main__h2:hover ~ .main__section {
    height: 300px;
    transition: height 0.5s ease-in;
    transition-delay: .1s;
}
.main__img:hover ~ .main__section {
    height: 300px;
    transition: height 1s ease-in;
    transition-delay: .1s;
/* no funciona el hover para mantener la card abierta mientras nos paramos sobre la imagen, intentamos crear una fijación con  position:fixed   y se descontrola toda la vista */
}



/* GRID FOOTER ============================================================== */
.footer {
    height:200px;
    width:100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.2fr;
    grid-template-areas:
                        "top"
                        "middle"
                        "end";
    grid-gap: 3px;
    padding: 0px;
}
.footer__top {
    background-color: #241727;
    grid-area: top;
}
.footer__middle {
    background-color: #000000;
    grid-area: middle;
}
.footer__end {
    background-color: #000000;
    grid-area: end;
}
/* el footer se me fué arriba al comienzo del main al implementar grid y se arregló cuando pusimos en auto "grid-template-rows: 100px auto 150px;" pero sigue habiendo un espacio vacío que no puedo lograr ocupar con la grid correspondiente a main */

/* flexbox footer ........................................................ */
.footer__qr{
    width:100px;
    height:100px;
}
.footer__img{
    width:280px;
    height: 200px;
}
.footer__app img{
    width:310px;
    height:100px;
}
h5 {
    color: #fff;
}
.footer__links a {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    transition: color 0.5s ease-in;
    color: #fff;
}
.footer__links a:hover {
    transition: color 0.5s ease-in;
    transition-delay: .1s;
    color: rgb(3, 250, 106);
}
.footer__social a {
    width: 2%;
    transition: color 0.5s ease-in;
    color: #fff;
}
.footer__social a:hover {
    transition: color 0.5s ease-in;
    transition-delay: .1s;
    color: rgb(3, 250, 106);
}
.footer__end {
    color: #fff;
}
