.encabezado{
    height: 500px;
    width: 500%;
}
.encabezado__barra{
     height: 200px;
     width: 500px;
}

.encabezado--bgcolor{
    background-color: blue;
}

.encabezado__barra--taling{
    text-align: right;
}

.articulo{
    height: 100px;

}
.articulo--grande{
    height: 800px;
    width: 500px;
}

.artiulo--mediano{
    height: 500px;
    width: 300px;
}