* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  font-family: "Bebas Neue";
}

body {
  width: 100vw;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0px;
}

body {
  font-family: "Bebas Neue";
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer";
}
body header {
  grid-area: header;
}
body main {
  grid-area: main;
}
body footer {
  grid-area: footer;
}

body main #carouselIndexHome {
  height: 70vh;
}

nav .navBarTopSKMKNFT a {
  font-size: 25px;
  font-weight: bolder;
  color: pink;
  width: 90%;
}
nav .navBarTopSKMKNFT a .nftNone {
  display: none;
}
nav .navBarTopSKMKNFT ul li a {
  color: white;
}

#player {
  display: none;
}

.navbar-dark {
  background-color: rgb(0, 0, 0);
}

header {
  background-color: hsl(39deg, 100%, 51%);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .header__h1 {
  display: flex;
  font-weight: bolder;
  font-size: 5vw;
  margin-top: 3%;
}
header .header__h2 {
  font-weight: bolder;
  font-size: 5vw;
}

header nav button {
  width: 5%;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
main .video {
  display: flex;
  position: absolute;
  z-index: -1;
  opacity: 0.25;
  min-width: 100vw;
  max-width: 100vw;
  justify-content: center;
  overflow: hidden;
}
main .main__h2 {
  text-align: center;
  font-size: 3vw;
  transition: all 3s ease-in;
  transition-delay: 45s;
}
main .main__h2:hover {
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 4vw;
  transition: all 1s ease-in;
  background-color: rgba(150, 150, 150, 0.8274509804);
}
main .carousel-indicators {
  margin-bottom: -1rem;
}
main .contCardImg {
  z-index: 0;
}

.footer__top {
  background-color: #252525;
}

.footer__middle {
  background-color: #000000;
}

.footer__end {
  background-color: #000000;
  align-items: center;
}

.footer__top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.footer__top .footer__app {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 5%;
}
.footer__top .footer__app h5 {
  font-size: 150%;
  text-align: center;
  color: #ffffff;
}
.footer__top .footer__app .imgapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footer__top .footer__app .imgapp a {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__top .footer__app .imgapp a img {
  width: 100%;
}
.footer__top .img-mobile {
  display: flex;
  margin-bottom: 0;
}
.footer__top .img-mobile .footer__img {
  margin-top: 20%;
  margin-bottom: 0%;
  width: 100%;
}
.footer__top .footer__qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
}
.footer__top .footer__qr h5 {
  font-size: 150%;
  text-align: center;
  color: #ffffff;
}
.footer__top .footer__qr img {
  margin-top: 1%;
  width: 150px;
}

.footer__middle {
  display: flex;
  flex-direction: row;
}
.footer__middle .footer__links {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.footer__middle .footer__links h5 {
  font-size: 150%;
  text-align: center;
  color: #ffffff;
}
.footer__middle .footer__links a {
  font-size: 1.5em;
  color: rgb(255, 0, 0);
  display: flex;
  flex-direction: column;
}
.footer__middle .footer__links a:hover {
  animation-name: "animate__animated animate__pulse";
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  transition: color 0.3s ease;
  color: rgb(3, 250, 106);
}
.footer__middle .footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.footer__middle .footer__social h5 {
  display: flex;
  align-items: flex-start;
  font-size: 150%;
  text-align: center;
  color: #ffffff;
}
.footer__middle .footer__social nav {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  height: 5%;
}
.footer__middle .footer__social i {
  font-size: 50px;
  display: flex;
  transition: all 0.8s ease;
  color: rgb(255, 6, 6);
}
.footer__middle .footer__social i:hover {
  color: rgb(3, 250, 106);
  font-size: 60px;
  transition: all 1s ease;
}

.footer__end {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.card-sizer, .contCardImg .card__father .cardBlock .card__back, .contCardImg .card__father .cardBlock .card__front {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.contCardImg {
  height: 60vh;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.contCardImg .card__father {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 20px;
  perspective: 1000px;
}
.contCardImg .card__father:hover .cardBlock {
  transform: rotateY(180deg);
}
.contCardImg .card__father .cardBlock {
  height: 50vh;
  width: 50vh;
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s;
}
.contCardImg .card__father .cardBlock .card__front {
  background-size: cover;
  background-position: center;
}
.contCardImg .card__father .cardBlock .card__front .body__card_front {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-bottom: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 5px rgb(0, 0, 0);
  color: rgb(253, 187, 6);
  transform: translateZ(100px);
}
.contCardImg .card__father .cardBlock .card__back {
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}
.contCardImg .card__father .cardBlock .card__back .body__card_back {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80%;
  transform: translateZ(80px);
}
.contCardImg .card__father .cardBlock .card__back .body__card_back a {
  padding: 3px 8px;
  margin-top: 0px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  color: rgb(0, 0, 0);
  background-color: hsl(39deg, 100%, 51%);
  box-shadow: 1px 1px 30px -5px hsl(39deg, 100%, 51%);
  border-radius: 10px;
  transition: box-shadow 600ms;
}
.contCardImg .card__father .cardBlock .card__back .body__card_back a:hover {
  box-shadow: 1px 1px 30px 0px #e31021;
}

.about {
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.about .about__father {
  margin: 20px;
  perspective: 1000px;
}
.about .about__father:hover .about__card {
  transform: rotateX(180deg);
}
.about .about__father .about__card {
  width: 30vw;
  height: 20vh;
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s;
}
.about .about__father .about__card .about__front,
.about .about__father .about__card .about__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px;
}
.about .about__father .about__card .about__front {
  background-size: cover;
  background-position: center;
}
.about .about__father .about__card .about__front .body__about_front {
  font-size: 5vh;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  transform: translateZ(80px);
}
.about .about__father .about__card .about__back {
  display: flex;
  align-items: center;
  transform: rotateX(180deg);
  background: rgb(255, 206, 47);
}
.about .about__father .about__card .about__back .body__about_back {
  margin: 2% 4% 1% 4%;
  padding: 2px;
  text-align: center;
  transform: translateZ(80px);
}
.about .about__father .about__card .about__back .body__about_back p {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: -10px;
  font-size: 14px;
}
.about .about__father .about__card .about__back .body__about_back a {
  padding: 8px 10px;
  margin-top: -10px;
  font-size: 10px;
  cursor: pointer;
  border: none;
  color: white;
  background: #58B0F6;
  box-shadow: 1px 1px 30px -5px #58B0F6;
  border-radius: 14px;
  transition: box-shadow 600ms;
}
.about .about__father .about__card .about__back .body__about_back a:hover {
  box-shadow: 1px 1px 30px 0px #f70707;
}

main .video {
  display: flex;
  position: fixed;
}
main #navbar-example2 {
  position: sticky;
  top: 60px;
  border: 10px solid #1B75CE;
  z-index: 1;
}
main .scrollspy-example .contCardImg {
  height: auto;
}
main .scrollspy-example .contCardImg .cardBlock {
  height: 50vh;
  width: 50vh;
}

.bg-transparent {
  --bs-bg-opacity: 0;
}

.singleCardAbout {
  --bs-card-bg: rgba(255, 255, 255, 0);
}
.singleCardAbout .about {
  bottom: 0;
}

.main__contact {
  justify-items: center;
}
.main__contact .form__email {
  background-color: rgba(255, 140, 0, 0.342);
  padding: 2%;
}

.body__aboutBackContact {
  font-size: 8vh;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(80px);
}

h5 {
  font-size: 150%;
  text-align: center;
  color: #fff;
}

.sizeTextAboutContact {
  font-size: 1.5vw;
  text-align: center;
}

.carousel-caption {
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (min-width: 1025px) {
  main .carousel-item .contCardImg .card__father {
    height: 60vh;
  }
  main .carousel-item .contCardImg .card__father .imgNone {
    display: none;
  }
  main .carousel-control-next {
    justify-content: end;
  }
  main .carousel-control-prev {
    justify-content: start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body header .header__h1 {
    margin-top: 8%;
  }
  body nav .navBarTopSKMKNFT a {
    font-size: 130%;
  }
  body main .carousel-inner {
    height: 80vh;
  }
  body main .carousel-inner .carousel-item .contCardImg .cardBlock {
    height: 30vh;
    width: 30vh;
  }
  body main .about .about__father .about__card {
    width: 80vw;
    height: 20vh;
  }
  body main .about .about__father .about__card .about__front .body__about_front {
    font-size: 3vh;
  }
  body main .about .about__father .about__card .about__back .body__about_back p {
    font-size: 18px;
  }
  body .footer__middle .footer__social i {
    font-size: 25px;
  }
  body .sizeTextAboutContact {
    font-size: 4vw;
  }
}
@media screen and (min-width: 280px) and (max-width: 767px) and (orientation: portrait) {
  body header {
    height: 30px;
  }
  body header .header__h1 {
    display: none;
  }
  body header .header__h2 {
    display: none;
  }
  body .navbar-dark {
    background-color: hsl(39deg, 100%, 51%);
    height: 40px;
  }
  body .navbar-dark .navBarTopSKMKNFT {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -8px;
  }
  body .navbar-dark .navBarTopSKMKNFT .navbar-brand {
    color: #000000;
  }
  body .navbar-dark .navBarTopSKMKNFT .navbar-brand .nftNone {
    display: inline;
  }
  body .navbar-dark .navBarTopSKMKNFT .navbar-toggler {
    background-color: #000000;
    font-size: 10px;
  }
  body main #carouselIndexHome {
    height: 92vh;
  }
  body main .main__h2 {
    margin-top: 15px;
    text-align: center;
    font-size: 5vw;
    transition: all 0s ease-in;
    transition-delay: 0s;
    background-color: rgba(150, 150, 150, 0.8274509804);
  }
  body main .main__h2:hover {
    transition: all 0s ease-in;
    background-color: rgba(150, 150, 150, 0.8274509804);
  }
  body main .main__section {
    max-height: 950px;
    transition: all 0s ease-in;
    transition-delay: 0s;
  }
  body main .main__h2:hover ~ .main__section {
    max-height: 1000px;
    transition: all 0s ease-in;
    transition-delay: 0s;
  }
  body main .carousel-item {
    height: 90vh;
  }
  body main .carousel-item .contCardImg .cardBlock {
    height: 22vh;
    width: 22vh;
  }
  body main .carousel-item .imgNone {
    display: none;
  }
  body main #navbar-example2 {
    top: 40px;
    height: 40px;
    border: 5px solid #281a06;
    font-size: 8px;
  }
  body main #navbar-example2 a {
    font-size: 8px;
  }
  body main .scrollspy-example .contCardImg .cardBlock {
    height: 40vh;
    width: 40vh;
  }
  body .about .about__father {
    margin-bottom: 5vw;
  }
  body .about .about__father:hover .about__card {
    transform: rotateY(180deg);
  }
  body .about .about__father .about__card {
    width: 90vw;
    height: 50vw;
  }
  body .about .about__father .about__card .about__back {
    transform: rotateY(180deg);
  }
  body .about .about__father .about__card .about__back .body__about_back p {
    font-size: 11px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
  }
  body .body__aboutBackContact {
    font-size: 10vw;
  }
  body .sizeTextAboutContact {
    font-size: 16px;
  }
  body .footer__top {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  body .footer__top .footer__app {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    align-items: center;
  }
  body .footer__top .footer__app h5 {
    margin-top: 2vh;
    font-size: 5vw;
    text-align: center;
    color: #fff;
  }
  body .footer__top .img-mobile {
    display: none;
  }
  body .footer__top .footer__qr {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 5vh 0vh 5vh 0vh;
  }
  body .footer__top .footer__qr img {
    margin-top: 5vh;
    width: 50vw;
  }
  body .footer__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .footer__middle .footer__links {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  body .footer__middle .footer__links a {
    font-size: 6vw;
    color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
  }
  body .footer__middle .footer__social nav {
    width: 100vw;
    padding: 5vw;
  }
  body .footer__middle .footer__social nav a i {
    font-size: 25px;
  }
  body .footer__end {
    font-size: 3.5vw;
  }
}

/*# sourceMappingURL=style.css.map */
