*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}
/* BODY ================================================================= */
body{
    font-family: 'Bebas Neue';
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto ;
    grid-template-areas:
                        "header"
                        "main"
                        "footer";
    /*volvimos a utilizar grid en el body porque usar grid sólo en el footer nos trajo conflictos a agregar un espacio en blanco en el lateral derecho*/
    width: 100vw;
    overflow-y: scroll;
}
body::-webkit-scrollbar{
    width:0px;
}
/* HEADER ============================================================== */
nav div ul li a {
    color: white;
}
.navbar-dark {
    background-color:rgb(0, 0, 0);
}
.nftNone {
    display: none;
}
header{
    /* grid-area: header; */
    background-color:hsla(39, 100%, 51%, 0.978);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__home{
    
    font-size: 25px ;
    font-weight: bolder;
    color: #ffffff;
}
.header__h1 {
    display: flex;
    font-weight: bolder;
    font-size: 5vw;
    margin-top: 3%;
}
.header__h2 {
    font-weight: bolder;
    font-size: 5vw;
}
.header__audio{
    display: none;
}
.header__home{
    width: 90%;
}
header nav button{
    width: 5%;
}
/* MAIN =========================================================== */
main {
    grid-area: main;
}
/* .main__scroll{
    min-height: 90vh;
    max-height: 90vh;
    overflow-y: scroll;
}
.main__scroll::-webkit-scrollbar{
    width:0px;
}
.main__scroll__gallery{
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
}
.main__scroll__gallery::-webkit-scrollbar{
    width:0px;
} aparentemente lo dejamos de usar cuando implementamos bootstrap*/
/* flexbox main .................................................. */
.video{
    display: flex;    
    position: absolute;
    /* top: 40vh; */
    z-index: -1;
    opacity: 0.25;
    min-width: 100vw;
    max-width: 100vw;
    justify-content: center;    
    overflow: hidden;
}
main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
/* CARD DROPDOWN IMAGES */
/* subtitulos desplegables */
.main__h2{
    text-align: center;
    font-size: 3vw;
    transition: all 3s ease-in;
    transition-delay: 45s;
}
.main__h2:hover {
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 4vw;
    transition: all 1s ease-in;
    background-color: #969696d3;
}

.about {
    bottom: 0;
}
/* Gallery--------------------------- */
.main__scroll__gallery {
    bottom: 0;
}
/* bootstrap MAIN-------------------- */
.carousel-indicators {
    margin-bottom: -1rem;
}
/* Contact -------------------------- */
.main__contact {
    justify-items: center;
}
.form__email {
    background-color: rgba(255, 140, 0, 0.342);
    padding: 2%
}
/* Explore MAIN --------------------- */
#navbar-example2 {
    position: sticky;
    top:60px;
    border:10px solid #1B75CE;
    z-index: 1;
}
.bg-transparent {
    --bs-bg-opacity: 0;
}
.contCardImg {
    z-index: 0;
}
/* About MAIN ------------------------*/
.singleCardAbout {
    --bs-card-bg: rgba(255, 255, 255, 0);
}


/* GRID FOOTER ============================================================== */
footer {
    grid-area: footer;
}
.footer__top {
    background-color: #252525;
    /* grid-area: top; */
}
.footer__middle {
    background-color: #000000;
    /* grid-area: middle; */
}
.footer__end {
    background-color: #000000;
    /* grid-area: end; */
    align-items: center;
}
/* flexbox footer ........................................................ */
.footer__top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.footer__app {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: 5%;
}
.imgapp  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.imgapp a {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgapp img {
    width: 100%;
}

/* ---------------- */
.img-mobile {
    display: flex;
    margin-bottom: 0;
}
.footer__img{
    margin-top:20%;
    margin-bottom:0%;
    width:100%;
    
}
/* ---------------- */
.footer__qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
}
.footer__qr img{
    margin-top: 1%;
    width:150px;
}
h5 {
    font-size:150%;
    text-align: center;
    color: #fff;
}

/* -------------------------------- */
.footer__middle {
    display: flex;
    flex-direction: row;
}
.footer__links {    
    margin-top: 2%;
    margin-bottom: 2%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width:70%;
}
.footer__links a {
    font-size: 1.5em;
    color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
}
.footer__links a:hover {
    animation-name: "animate__animated animate__pulse";
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 1s;

    transition: color 0.3s ease;    
    color: rgb(3, 250, 106);
}
.footer__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.footer__social h5{
    display: flex;
    align-items: flex-start;
}
.footer__social nav {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 5%
}
.footer__social i {
    font-size: 50px;
    display: flex;
    transition: all .8s ease;        
    color: rgb(255, 6, 6);
}
.footer__social i:hover {
    color: rgb(3, 250, 106);
    font-size: 60px;
    transition: all 1s ease;
    
}
.footer__end {
    display: flex;
    justify-content: center;
    color: #fff;
}
/* Animations--------------- */
/* STYLE 3D  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.contCardImg{
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.card__father{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 20px;
    perspective: 1000px;
}

.card__father:hover .cardBlock{
    transform: rotateY(180deg);
}


.cardBlock {
    width:30vh;
    height: 30vh;
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s;
}

.card__front{
    background-size: cover;
    background-position: center;
}


.card__front,
.card__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card__back{
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;

    transform: rotateY(180deg);
}

.body__card_front{
    width: 100%;
    height: 100%;
    text-align: center;    
    padding-bottom: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    color: rgb(253, 187, 6);
    transform: translateZ(100px);
}

.body__card_back{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80%;
    transform: translateZ(80px);
}

.body__card_back a{    
    padding: 3px 8px;
    margin-top: 30px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.body__card_back a:hover{
    box-shadow: 1px 1px 30px 0px #449de6;
}
.card__bottom{    
    background-color: #69dbf8;
    color: white;
}
/* About card----------------------------------- */
.about{
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* position: absolute; */
}
.about__father{
    margin: 20px;
    perspective: 1000px;
}

.about__father:hover .about__card{
    transform: rotateX(180deg);
}


.about__card{
    width: 30vw;
    height: 20vh;
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s;
}

.about__front{
    background-size: cover;
    background-position: center;
}

.about__front,
.about__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.about__back{
    display: flex;
    align-items: center;
    transform: rotateX(180deg);
    background: rgb(255, 206, 47);
}

.body__about_front{
    font-size: 5vh;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    transform: translateZ(80px);
}

.body__about_back{
    margin: 2% 4% 1% 4%;
    padding: 2px;
    text-align: center;
    transform: translateZ(80px);
}

.body__aboutBackContact{
    
    font-size: 8vh;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(80px);
}
.sizeTextAboutContact {
    font-size: 1.5vw;
    text-align: center;
}

.body__about_back p{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: -10px;
    font-size: 14px;
}

.body__about_back a{
    padding: 8px 10px;
    margin-top: -10px;
    font-size: 10px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 14px;
    transition: box-shadow 600ms;
}

.body__about_back a:hover{
    box-shadow: 1px 1px 30px 0px #f70707;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* medias queries -------- */
@media  screen and (min-width: 768px) and (max-width:1024px){
    
    .header__h1{
        margin-top: 8%;
    }
    header nav {
        height:3%;
    }
    .header__home {
        font-size:150%;
    }
    .body__about_back p {
        font-size: 18px;
    }
    .about__card{
        width: 80vw;
        height: 20vh ;
    }
    .footer__img {
        width:50%
    }
    .footer__social i {
        font-size: 25px;
    }
    .body__about_front{
        font-size: 3vh;
    }
    .sizeTextAboutContact {
        font-size: 4vw
    }

}

@media screen and (min-width: 280px ) and (max-width:767px) and (orientation: portrait) {
    header {        
        height: 40px
    }
    .header__h1 {
        display: none;
    }
    .header__h2 {
        display:none
    }
    .nftNone {
        display: inline
    }
    .navbar-dark {
        background-color:hsla(39, 100%, 51%);
        height: 40px

    }
    .navbar-brand {
        color: #000000
    }
    .navbar-toggler {
        background-color: #000000;
        font-size: 10px
    }
    .navBarTopSKMKNFT {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
    }
    /* queremos afectar la alienación de los elementos del navbar sin exito con .navBarTopSKMNFT , PERO le sacamos el container-fluid y lo tomó */
    .header__home{
        width: 80%;
        font-size: 16px;
        padding:0;
    }
    /* ----------------------------- */
    .main__h2{
    text-align: center;
    font-size: 5vw;
    transition: all 0s ease-in;
    transition-delay: 0s;
    background-color: #969696d3;
    }
    .main__h2:hover {
        transition: all 0s ease-in;
        background-color: #969696d3;        
    }
    /* imagenes desplegables */
    .main__section{
        max-height: 950px;
        transition: all 0s ease-in;    
        transition-delay: 0s;
    }
    .main__h2:hover ~ .main__section {
        max-height: 1000px;
        transition: all 0s ease-in;
        transition-delay: 0s;
    }
    .imgNone {
        display: none;
    }
    /* ABOUT CARD----------------------------- */
    .about__father{
        margin-bottom: 10vw;
    }
    
    .about__father:hover .about__card{
        transform: rotateY(180deg);
    }
    
    .about__card{
        width: 90vw;
        height: 220px ;
    }   

    .about__back{
        transform: rotateY(180deg);
    }

    .body__about_back p{
        font-size: 10px;
    }

    .about__father {
        margin-bottom: 5vw;
    }
    .about__card {
        width: 70vw;
        height: 50vw
    }
    .body__aboutBackContact {
        font-size: 10vw
    }
    .sizeTextAboutContact {
        font-size: 10px
    }
    
    /* FOOTER----------------- */
    
    .footer__top {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    h5 {
        margin-top: 2vh;
        font-size: 5vw;
        text-align: center;
        color: #fff;
    }
    .footer__app {
        display: flex;
        flex-direction: column;
        width: 80vw;
        margin: auto;
        align-items: center;
    }
    .img-mobile {
        display: none;
    }
    .footer__qr {
        display: flex;
        flex-flow:column wrap;
        align-items: center;
        margin: 5vh 0vh 5vh 0vh;
        
    }
    .footer__qr img{
        margin-top: 5vh;
        width:50vw;
    }
    /* ------------------- */
    .footer__middle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__links {    
        margin-top: 2vh;
        margin-bottom: 2vh;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        width:80%;
    }
    .footer__links a {
        font-size: 6vw;
        color: rgb(255, 0, 0);
        display: flex;
        flex-direction: column;
    }
    .footer__social nav {
        width: 100vw;
        padding: 5vw;
    }    
    /* ------------ */
    .footer__end {
        font-size: 3.5vw
    }
    .footer__social i {
        font-size: 25px;
    }
}