// RESTPONSIVE DESKTOP HD TO DESKTOP 2K
@media  screen and (min-width: 1025px) and (max-width:1920px) {
    main {
        .carousel-item
        .contCardImg
        .card__father {
            height: 60vh;
            
            .imgNone {
                display: none;
            }
        }

        .carousel-control-next {
            justify-content: end;
        }

        .carousel-control-prev {
            justify-content: start;
        }
    }
}
// RESPONSIVE TABLET TO DESKTOP HD
@media  screen and (min-width: 768px) and (max-width:1024px){
    .main-blog {
        .block-form {
            margin: 340px  10px;
        }
    }

    body {
        header
        .header__h1 {
            margin-top: 8%;
        }

        nav
        .navBar-header-top
        a {
            font-size:130%;
        }

        main {
            .carousel-inner {
                height: 80vh;
            
                .carousel-item
                .contCardImg
                .cardBlock {
                    @include cardBlock-tablet
                }
            }

            .about
            .about__father
            .about__card {
                width: 80vw;
                height: 20vh ;

                .about__front
                .body__about_front {
                    font-size: 5vh;
                }
                
                .about__back
                .body__about_back
                p {
                    font-size: 18px;
                }
            }
            
        }
        
        .footer__middle
        .footer__social
        i {
            font-size: 25px;
        }

        .sizeTextAboutView {
            font-size: 4vw;
        }
    }
}
// RESPONSIVE SMALL TO TABLET
@media screen and (min-width: 280px ) and (max-width:767px) and (orientation: portrait) {
    body {    
        header {        
            height: 30px;

            .header__h1 {
                display: none;
            }

            .header__h2 {
                display:none;
            }
        }

        .navbar-dark {        
            background-color: $navbar-dark;
            height: 40px;

            .navbar-header-top {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content:center;
                margin-top: -8px;

                .navbar-brand {
                    color: #000000;

                    .nftNone {
                        display: inline;
                    }
                }

                .navbar-toggler {
                    background-color: #000000;
                    font-size: 10px;
                }
            }        
        }
        
        //index.html------------------
        main {
            #carouselIndexHome {
                height: map-get($ly-body, hg-bd-idx-smal ) ;
            }

            .main__h2 {
                margin-top: 15px;
                text-align: center;
                font-size: 5vw;
                transition: all 0s ease-in;
                transition-delay: 0s;
                background-color: #ffffffd3;

                &:hover {
                    transition: all 0s ease-in;
                    background-color: #969696d3;        
                }
            }
            
        //  images carousel----------------
            .main__section {
                max-height: 950px;
                transition: all 0s ease-in;    
                transition-delay: 0s;
            }

            .main__h2:hover ~ .main__section {
                max-height: 1000px;
                transition: all 0s ease-in;
                transition-delay: 0s;
            }

            .carousel-item {
                height: 90vh;
                
                .contCardImg
                .cardBlock {                    
                    @include cardBlock-mobile;
                }

                .imgNone {
                    display: none;
                }
            }
        }

        // explore.html---------------------------
        main {
            #navbar-example2 {
                top: 40px;
                height: auto;
                border: 5px solid #281a06;
                font-size: 0px;                
                --bs-navbar-padding-x: 0rem;
                --bs-navbar-padding-y: 0rem;
                display:flex;
                justify-content: space-evenly;

                .nav {
                    --bs-nav-link-padding-x: 0.6rem;
                    --bs-nav-link-padding-y: 0.35rem;

                    a {
                        font-size: 16px;
                        color: #c86f17;
                        padding-left: 8px;
                        padding-right: 8px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }

                    .active {
                        background-color: $navbar-dark;
                        font-weight: bold;
                        color: #000000;
                    }
                }
            }

            .scrollspy-example
            .contCardImg {
                .cardBlock {                    
                    @include cardBlock-explore-h-w;
                }
            }
        }
        
        // ABOUT CARD-----------------------------
        .about
        .about__father{
            margin-bottom: 5vw;

            &:hover
            .about__card {
                transform: rotateY(180deg);
            }

            .about__card {
                width: 90vw;
                height: 50vw;

                .about__back{
                    transform: rotateY(180deg);

                    .body__about_back
                    p {
                        font-size: 11px;
                        margin-top: 0px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }
            }
        }

        // about.html-----------------------------
        .row {
            --bs-gutter-x: 0px;
            
            .body__aboutViewBack {
            font-size: 10vw;
        }
        }
        
        .sizeTextAboutView {
            font-size: 5.5vw;
        }
        
        // FOOTER-----------------
        .footer__top {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            .footer__app {
                display: flex;
                flex-direction: column;
                width: 80vw;
                margin: auto;
                align-items: center;

                h5 {
                    margin-top: 2vh;
                    font-size: 5vw;
                    text-align: center;
                    color: map-get($colors-footer, color-h5 );
                }
            }

            .img-mobile {
                display: none;
            }

            .footer__qr {
                display: flex;
                flex-flow:column wrap;
                align-items: center;
                margin: 5vh 0vh 5vh 0vh;
                
                img {
                    margin-top: 5vh;
                    width:50vw;
                }
            }
        }
        
        // -------------------
        .footer__middle {
            display: flex;
            flex-direction: column;
            align-items: center;

            .footer__links {    
                margin-top: 2vh;
                margin-bottom: 2vh;
                display:flex;
                flex-direction: column;
                justify-content:center;
                align-items:center;
                width:80%;

                a {
                    font-size: 6vw;
                    color: map-get($colors-footer, color-links );
                    display: flex;
                    flex-direction: column;
                }
            }

            .footer__social
            nav {
                width: 100vw;
                padding: 5vw;

                a i {
                    font-size: 25px;
                }
            }
        }
    }
}