// Explore MAIN ---------------------
main {
    .video {
        display: flex;
        position: fixed;
    }

    #navbar-example2 {
        position: sticky;
        top:60px;
        border:10px solid #1B75CE;
        z-index: 1;
    }

    .scrollspy-example
    .contCardImg {
        height: auto;

        .cardBlock {
            @include cardBlock;
        }


    }
}

.bg-transparent {
    --bs-bg-opacity: 0;
}