// Explore MAIN ---------------------
.header-explore {
        opacity: 0.5;
    }
main {
    .video-explore {
        @include bg-video-view;
        top: 0;
    }

    .gallery-container {        
        position: sticky;
        top: 0;
    }

    #navbar-example2 {
        position: sticky;
        top:60px;
        z-index: 1;
        overflow: hidden;
    }

    .scrollspy-example
    .contCardImg {
        height: auto;

        .cardBlock {
            @include cardBlock-h-w;
        }
    }
}

.bg-transparent {
    --bs-bg-opacity: 0;
}

.footer-explore {
    @include footer-view;
}