main {
/* flexbox main .................................................. */
    display: flex;
    flex-direction: column;
    width: 100vw;

    .video{
        display: flex;    
        position: absolute;
        z-index: -1;
        opacity: 0.25;
        min-width: 100vw;
        max-width: 100vw;
        justify-content: center;    
        overflow: hidden;
    }

/* Caurosel index */
    .main__h2{
        text-align: center;
        font-size: 3vw;
        transition: all 3s ease-in;
        transition-delay: 45s;

        &:hover {
        text-align: center;
        font-family: 'Bebas Neue';
        font-size: 4vw;
        transition: all 1s ease-in;
        background-color: #969696d3;
        }
    }

/* bootstrap MAIN-------------------- */
    .carousel-indicators {
        margin-bottom: -1rem;
    }

    .contCardImg {
        z-index: 0;
    }
}